<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 7.0.1 (tags/RELEASE_701/final)</string>
 <key>files</key>
 <array>
  <string>D:\work\UE4\UE_4.21\Engine\Source\Runtime\Core\Public\Containers/UnrealString.h</string>
  <string>D:\work\UE4\UE_4.21\Engine\Source\Runtime\Core\Public\Math/Vector2D.h</string>
  <string>D:\work\UE4\UE_4.21\Engine\Source\Runtime\Core\Public\Math/Vector.h</string>
  <string>D:\work\UE4\UE_4.21\Engine\Source\Runtime\Core\Public/Math/Rotator.h</string>
  <string>D:\work\UE4\UE_4.21\Engine\Source\Runtime\Engine\Classes\EdGraph/EdGraphPin.h</string>
  <string>D:\work\UE4\UE_4.21\Engine\Source\Runtime\Engine\Public/GenericOctree.inl</string>
  <string>D:\work\UE4\UE_4.21\Engine\Source\Runtime\AssetRegistry\Public\AssetData.h</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>256</integer>
      <key>col</key><integer>9</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>256</integer>
         <key>col</key><integer>9</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>256</integer>
         <key>col</key><integer>11</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>256</integer>
         <key>col</key><integer>15</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>256</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;Num&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;Num&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;Num&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>713f4384f96eeca0d149305d55600586</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>CheckInvariants</string>
  <key>issue_hash_function_offset</key><string>1</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>256</integer>
   <key>col</key><integer>9</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>826</integer>
      <key>col</key><integer>14</integer>
      <key>file</key><integer>1</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>826</integer>
         <key>col</key><integer>14</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>826</integer>
         <key>col</key><integer>16</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>826</integer>
         <key>col</key><integer>20</integer>
         <key>file</key><integer>1</integer>
        </dict>
        <dict>
         <key>line</key><integer>826</integer>
         <key>col</key><integer>27</integer>
         <key>file</key><integer>1</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;OMC&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;OMC&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;OMC&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>d288961f2abd5c97db6ef31d11cff1cf</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>GetRotated</string>
  <key>issue_hash_function_offset</key><string>6</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>826</integer>
   <key>col</key><integer>14</integer>
   <key>file</key><integer>1</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>1949</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>2</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>1949</integer>
         <key>col</key><integer>20</integer>
         <key>file</key><integer>2</integer>
        </dict>
        <dict>
         <key>line</key><integer>1949</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>2</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;bIsEmptyString&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;bIsEmptyString&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;bIsEmptyString&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>0dd9215e7b3de9f769506ddc2507c737</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>ToCompactString</string>
  <key>issue_hash_function_offset</key><string>29</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>1949</integer>
   <key>col</key><integer>3</integer>
   <key>file</key><integer>2</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>760</integer>
      <key>col</key><integer>3</integer>
      <key>file</key><integer>3</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>760</integer>
         <key>col</key><integer>20</integer>
         <key>file</key><integer>3</integer>
        </dict>
        <dict>
         <key>line</key><integer>760</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>3</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;bIsEmptyString&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;bIsEmptyString&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;bIsEmptyString&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>9e5d9413101bf83ec0ba8553b3551fe3</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>ToCompactString</string>
  <key>issue_hash_function_offset</key><string>29</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>760</integer>
   <key>col</key><integer>3</integer>
   <key>file</key><integer>3</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>315</integer>
      <key>col</key><integer>10</integer>
      <key>file</key><integer>4</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>315</integer>
         <key>col</key><integer>10</integer>
         <key>file</key><integer>4</integer>
        </dict>
        <dict>
         <key>line</key><integer>315</integer>
         <key>col</key><integer>17</integer>
         <key>file</key><integer>4</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>315</integer>
         <key>col</key><integer>21</integer>
         <key>file</key><integer>4</integer>
        </dict>
        <dict>
         <key>line</key><integer>315</integer>
         <key>col</key><integer>91</integer>
         <key>file</key><integer>4</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;NodeHash&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;NodeHash&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;NodeHash&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>e6a70472b2454fabdaf790c761127990</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>GetTypeHash</string>
  <key>issue_hash_function_offset</key><string>3</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>315</integer>
   <key>col</key><integer>10</integer>
   <key>file</key><integer>4</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>42</integer>
      <key>col</key><integer>23</integer>
      <key>file</key><integer>5</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>42</integer>
         <key>col</key><integer>23</integer>
         <key>file</key><integer>5</integer>
        </dict>
        <dict>
         <key>line</key><integer>42</integer>
         <key>col</key><integer>34</integer>
         <key>file</key><integer>5</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>42</integer>
         <key>col</key><integer>38</integer>
         <key>file</key><integer>5</integer>
        </dict>
        <dict>
         <key>line</key><integer>42</integer>
         <key>col</key><integer>70</integer>
         <key>file</key><integer>5</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;BoundsExtent&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;BoundsExtent&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;BoundsExtent&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>9bc89d4cf89756167bbd6438a0109101</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>GetIntersectingChildren</string>
  <key>issue_hash_function_offset</key><string>11</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>42</integer>
   <key>col</key><integer>23</integer>
   <key>file</key><integer>5</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>116</integer>
      <key>col</key><integer>19</integer>
      <key>file</key><integer>6</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>116</integer>
         <key>col</key><integer>19</integer>
         <key>file</key><integer>6</integer>
        </dict>
        <dict>
         <key>line</key><integer>116</integer>
         <key>col</key><integer>23</integer>
         <key>file</key><integer>6</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>116</integer>
         <key>col</key><integer>27</integer>
         <key>file</key><integer>6</integer>
        </dict>
        <dict>
         <key>line</key><integer>116</integer>
         <key>col</key><integer>45</integer>
         <key>file</key><integer>6</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;Outer&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;Outer&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;Outer&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
   <key>check_name</key><string>deadcode.DeadStores</string>
   <!-- This hash is experimental and going to change! -->
   <key>issue_hash_content_of_line_in_context</key><string>7a4b311f401150667ff0872e1676abdf</string>
  <key>issue_hash_function_offset</key><string>11</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>116</integer>
   <key>col</key><integer>19</integer>
   <key>file</key><integer>6</integer>
  </dict>
  </dict>
 </array>
</dict>
</plist>